@import "./theme";

html,body{
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}

.container{
    padding-top:45px;
}

/*通用工具*/
.hide,.hidden{
    display: none;
}

.link-list{
    .am-list-line{
        border-bottom:1px solid #efefef !important;
    }
    .am-indexed-list-section-body.am-list-body >div:last-child .am-list-line{
        border-bottom:0px solid #efefef !important;
    }
}

.am-navbar-right a:link,.am-navbar-right a:visited,.am-navbar-right a:hover,.am-navbar-right a:active{
    color:#fff !important;
}
